@import '../../../variables.scss';

.second-step-container {
  display: flex;
}

.todo-card-container {
  margin: 8% 3% 15% 3%;
  display: flex;
  align-items: center;
  justify-content: center;

  .todo-card {
    margin: 0 4% 0 0;
    width: 61%;
    height: 24h;
    background-color: #f5f5f5;
    border-radius: 12px;
  }
}

.checklist {
  padding: 0 0 0 5%;
}

.item-checklist {
  margin-top: 4%;
  display: flex;
  align-items: center;
  font-size: 19px;

  .check-button {
    width: 30px;
    height: 30px;
  }
  
  .text-instruction {
    margin-left: 3%;
    color: #535556;
  }
}

.img-possible-move {
  width: 33%;
}

@media only screen and (max-width: 375px) {
  .todo-card-container {
    display: block;

    .todo-card {
      width: 100%;
    }
    .img-possible-move {
      display: none;
    }
  }
}