@use "sass:color";

$error-color: #b94a48;

.error-message {
  position: relative;
  padding: 1em;
  margin: 0.5em 0 5% 0;
  border-radius: 0.15em;
  border: 1px solid;
  color: $error-color;
  background: color.scale($error-color, $lightness: 38%);
  border-color: color.scale($error-color, $lightness: 20%);
}

.close-alert {
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1px 8px 0 0;
  color: color.scale($error-color, $lightness: 20%);
  cursor: pointer;
}
