@import '../../variables.scss';

$bloomin-dark-green-color: #47b8b3;

$text-color: #333333;
$text-muted-color: #b0b0b0;
$wizard-bg-color: white;
$text-muted-step-color: #9b9b9b;
$bg-muted-step-color: #e6e6e6;
$text-completed-step-color: white;
$step-number-border-thickness: 10px;
$step-number-dimension: 2em;
$step-transition: 0.25s ease-in-out;
$wizard-line-height: 2px;
$line-vertical-offset: -1px;

.chessgame-title {
  font-weight: bold;
  font-size: 26px
}

.content {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;

  .wizard {
    margin-top: 4%;
    width: 37%;
    height: 70%;
    background-color: white;
  }
}

// steps
.steps ul li {
  width: 20.16%;
  margin-right: 10px;
  background: #f3d4b7;
  transition: all 0.5s ease;
}

.wizard-steps {
  padding: 10px;
  background-color: $wizard-bg-color;

  .steps-wrapper {
    display: flex;
    justify-content: space-between;

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;

      .step-number {
        cursor: pointer;
        font-size: 1.5em;
        color: $text-muted-step-color;
        background-color: $bg-muted-step-color;
        border: $step-number-border-thickness solid $wizard-bg-color;

        width: $step-number-dimension;
        height: $step-number-dimension;
        line-height: $step-number-dimension;
        text-align: center;
        border-radius: 50%;

        z-index: 15;

        transition: $step-transition;
      }

      .step-name {
        color: $text-muted-color;

        transition: $step-transition;
      }

      &.completed {
        .step-number {
          color: $text-completed-step-color;
          background-color: $greenContrastColor;
        }

        .step-name {
          color: $text-color;
        }
      }
    }
  }

  .line {
    width: 100%;
    height: $wizard-line-height;
    background-color: $bg-muted-step-color;
    position: relative;
    top: calc(
      -1em - #{$step-number-border-thickness} - #{$step-number-dimension} + #{$wizard-line-height} + #{$line-vertical-offset}
    );
    z-index: 5;
  }
}

.wizard-steps {
  // Hide line before first step
  .step:first-of-type {
    .step-name:after {
      content: "";
      height: $wizard-line-height;
      width: calc(100% / 2);
      display: block;
      position: relative;
      top: calc(
        -1em - #{$step-number-border-thickness} - #{$step-number-dimension} +
        (
        #{$wizard-line-height} * 2
        ) + #{$line-vertical-offset}
      );
      background-color: $wizard-bg-color;
      z-index: 10;
    }
  }

  // Hide line after last step
  .step:last-of-type {
    .step-name:after {
      content: "";
      height: $wizard-line-height;
      width: calc(100% / 2);
      display: block;
      position: relative;
      top: calc(
        -1em - #{$step-number-border-thickness} - #{$step-number-dimension} +
        (
        #{$wizard-line-height} * 2
        ) + #{$line-vertical-offset}
      );
      left: 50%;
      background-color: $wizard-bg-color;
      z-index: 10;
    }
  }
}

// Right and Back Button
.arrow-buttons-container {
  margin-right: 1%;
  width: 100%;
  height: 5vh;

  .arrow-right {
    margin-right: 2%;
    cursor: pointer;
    float: right;
    width: 40px;
    height: 40px;
  }

  .arrow-back {
    margin-left: 2%;
    cursor: pointer;
    float: right;
    width: 40px;
    height: 40px;
  }
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}