@use '../../../variables' as vars;

.ready-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  white-space: nowrap;

  .ready-text {
    font-size: 20px;
    margin-right: 4%;
  }

  .button-start {
    padding: 2%;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid vars.$greenContrastColor;
    border-radius: 5px;
    color: vars.$greenContrastColor;
    width: 118px;

    &:hover {
      background-color: vars.$greenContrastColor;
      color: white;
    }
  }
}
