@use '../../../variables' as vars;

.img-knight-container {
  margin: 5% 5% 0 5%;
  display: flex;
  justify-content: center;

  .img-knight {
    width: 32%;
    height: 50%;
    box-shadow: 0 0 3px #ccc;

    // Para compatibilidade com navegadores antigos (opcional)
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
  }
}
